
// ==========================================================================
// Structure
// ==========================================================================

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.c-instructions {
    display: block;
    width: 85%;
    max-width: 500px;
    margin: 8% auto;
}

.c-instructions__logo {
    display: block;
    margin: 0 0 8%;
}

.c-instructions__description {
    margin: 0;
    font-size: 14px;
    font-family: Sans-serif;
    line-height: 22px;
    color: #555555;
}
