
// ==========================================================================
// VARIABLES
// ==========================================================================

$images: '../images/';
$fonts: '../fonts/';

// Medias
// ==========================================================================


$mobile_small : 320px;
$mobile_medium : 375px;
$mobile_large : 425px;

$tablet : 768px;
$laptop : 1024px;
$laptop_medium : 1220px;
$laptop_large : 1440px;


$mq_mobile_s : new-breakpoint(max-width $mobile_small - 1px);
$mq_mobile_m : new-breakpoint(max-width $mobile_medium - 1px);
$mq_mobile_l : new-breakpoint(max-width $mobile_large - 1px);

$mq_tablet : new-breakpoint(max-width $tablet - 1px);
$mq_laptop : new-breakpoint(max-width $laptop - 1px);
$mq_laptop_m : new-breakpoint(max-width $laptop_medium - 1px);
$mq_laptop_l : new-breakpoint(max-width $laptop_large - 1px);


// Colors
// ==========================================================================

$color-primary: #ed5550;
$color-primary_light: #f27571;

$color-secondary: #ebeae5;
