@import url(../semantic/dist/semantic.css);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'Proxima Nova Regular';
  font-weight: normal;
  src: url(../fonts/proxima-regular.eot?1307578394);
  src: url("../fonts/proxima-regular.eot?iefix") format("eot"), url(../fonts/proxima-regular.woff?1307578394) format("woff"), url(../fonts/proxima-regular.ttf?1307578394) format("truetype"), url("../fonts/proxima-regular.svg#webfont2rpW2ohz") format("svg"); }

@font-face {
  font-family: 'Proxima Nova Light';
  font-weight: light;
  src: url(../fonts/proxima-light.eot?1307578394);
  src: url("../fonts/proxima-light.eot?iefix") format("eot"), url(../fonts/proxima-light.woff?1307578394) format("woff"), url(../fonts/proxima-light.ttf?1307578394) format("truetype"), url("../fonts/proxima-light.svg#webfont2rpW2ohz") format("svg"); }

@font-face {
  font-family: 'Proxima Nova Semibold';
  font-weight: semibold;
  src: url(../fonts/proxima-semibold.eot?1307578394);
  src: url("../fonts/proxima-semibold.eot?iefix") format("eot"), url(../fonts/proxima-semibold.woff?1307578394) format("woff"), url(../fonts/proxima-semibold.ttf?1307578394) format("truetype"), url("../fonts/proxima-semibold.svg#webfont2rpW2ohz") format("svg"); }

@font-face {
  font-family: 'Proxima Nova Bold';
  font-weight: bold;
  src: url(../fonts/proxima-bold.eot?1307578394);
  src: url("../fonts/proxima-bold.eot?iefix") format("eot"), url(../fonts/proxima-bold.woff?1307578394) format("woff"), url(../fonts/proxima-bold.ttf?1307578394) format("truetype"), url("../fonts/proxima-bold.svg#webfont2rpW2ohz") format("svg"); }

@font-face {
  font-family: 'Proxima Nova Extrabold';
  font-weight: extrabold;
  src: url(../fonts/proxima-extrabold.eot?1307578394);
  src: url("../fonts/proxima-extrabold.eot?iefix") format("eot"), url(../fonts/proxima-extrabold.woff?1307578394) format("woff"), url(../fonts/proxima-extrabold.ttf?1307578394) format("truetype"), url("../fonts/proxima-extrabold.svg#webfont2rpW2ohz") format("svg"); }

* {
  box-sizing: border-box; }

.c-instructions {
  display: block;
  width: 85%;
  max-width: 500px;
  margin: 8% auto; }

.c-instructions__logo {
  display: block;
  margin: 0 0 8%; }

.c-instructions__description {
  margin: 0;
  font-size: 14px;
  font-family: Sans-serif;
  line-height: 22px;
  color: #555555; }

.enjumodal {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: transparent !important; }
  .enjumodal .enjuform {
    max-width: 374px;
    margin-left: auto;
    margin-right: 2.5rem;
    margin-bottom: 3.5rem; }
    @media screen and (max-width: 1023px) {
      .enjumodal .enjuform {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5.8rem; } }
    @media screen and (max-width: 767px) {
      .enjumodal .enjuform {
        max-width: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem; } }
    .enjumodal .enjuform label {
      font-size: 0.85em !important;
      text-transform: uppercase !important; }
    .enjumodal .enjuform .enjuinput {
      padding: 1.15em 1em !important; }
  .enjumodal .go-button {
    color: #f27571;
    background: #fff;
    border-bottom: 2px solid #ebeae5;
    padding: 1.1em 1.5em 1.1em; }
    .enjumodal .go-button:hover {
      background: #ebeae5; }
  .enjumodal .close-button {
    position: absolute;
    top: 1.25rem;
    right: 1.5rem;
    font-size: 3.2rem;
    font-weight: normal;
    margin-top: -0.3rem;
    margin-right: -0.4rem;
    color: #fff;
    cursor: pointer; }
  .enjumodal-header {
    font-family: 'Proxima Nova Light', sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 2.5rem 0 .8rem 0 !important;
    text-align: center;
    background-color: #ed5550 !important; }
  .enjumodal-content {
    border-radius: 0.6rem !important;
    background: url("../images/coisafofa.png") no-repeat #ed5550 !important;
    background-position: 17% 68% !important; }
    @media screen and (max-width: 1023px) {
      .enjumodal-content {
        background-position: 50% 107% !important;
        background-size: 90px auto !important; } }
    @media screen and (max-width: 767px) {
      .enjumodal-content {
        background: #ed5550 !important; } }
    @media screen and (max-width: 424px) {
      .enjumodal-content {
        border-radius: 0.28571429rem !important; } }
    .enjumodal-content .subheader {
      font-family: 'Proxima Nova Regular', sans-serif;
      font-size: 1.3em;
      text-align: center;
      color: #fff;
      margin: auto auto 2.8rem;
      max-width: 460px;
      letter-spacing: -0.42px; }
      @media screen and (max-width: 1023px) {
        .enjumodal-content .subheader {
          margin-bottom: 1.4rem; } }
      @media screen and (max-width: 767px) {
        .enjumodal-content .subheader {
          max-width: none;
          font-size: 1em;
          margin-bottom: 1.4rem; } }
      @media screen and (max-width: 424px) {
        .enjumodal-content .subheader {
          margin-bottom: 1rem; } }
