
$proxima: 'Proxima Nova';

@font-face {
	font-family: 'Proxima Nova Regular';
    font-weight: normal;
	src: url(#{$fonts}proxima-regular.eot?1307578394);
	src: url('#{$fonts}proxima-regular.eot?iefix') format('eot'),url(#{$fonts}proxima-regular.woff?1307578394) format('woff'),url(#{$fonts}proxima-regular.ttf?1307578394) format('truetype'),url('#{$fonts}proxima-regular.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima Nova Light';
	font-weight: light;
	src: url(#{$fonts}proxima-light.eot?1307578394);
	src: url('#{$fonts}proxima-light.eot?iefix') format('eot'),url(#{$fonts}proxima-light.woff?1307578394) format('woff'),url(#{$fonts}proxima-light.ttf?1307578394) format('truetype'),url('#{$fonts}proxima-light.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima Nova Semibold';
	font-weight: semibold;
	src: url(#{$fonts}proxima-semibold.eot?1307578394);
	src: url('#{$fonts}proxima-semibold.eot?iefix') format('eot'),url(#{$fonts}proxima-semibold.woff?1307578394) format('woff'),url(#{$fonts}proxima-semibold.ttf?1307578394) format('truetype'),url('#{$fonts}proxima-semibold.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima Nova Bold';
	font-weight: bold;
	src: url(#{$fonts}proxima-bold.eot?1307578394);
	src: url('#{$fonts}proxima-bold.eot?iefix') format('eot'),url(#{$fonts}proxima-bold.woff?1307578394) format('woff'),url(#{$fonts}proxima-bold.ttf?1307578394) format('truetype'),url('#{$fonts}proxima-bold.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima Nova Extrabold';
	font-weight: extrabold;
	src: url(#{$fonts}proxima-extrabold.eot?1307578394);
	src: url('#{$fonts}proxima-extrabold.eot?iefix') format('eot'),url(#{$fonts}proxima-extrabold.woff?1307578394) format('woff'),url(#{$fonts}proxima-extrabold.ttf?1307578394) format('truetype'),url('#{$fonts}proxima-extrabold.svg#webfont2rpW2ohz') format('svg')
}
