
// Config
// ==========================================================================

@import "fonts.scss";


@mixin proxima_light() {
    font-family: 'Proxima Nova Light', sans-serif;
}
@mixin proxima_regular() {
    font-family: 'Proxima Nova Regular', sans-serif;
}
@mixin proxima_semibold() {
    font-family: 'Proxima Nova Semibold', sans-serif;
}
@mixin proxima_bold() {
    font-family: 'Proxima Nova Bold', sans-serif;
}
@mixin proxima_extrabold() {
    font-family: 'Proxima Nova Extrabold', sans-serif;
}
