.enjumodal {
    @include transform(translateY(-50%));
    background: transparent !important;

    .enjuform {
        max-width: 374px;
        margin-left: auto;
        margin-right: 2.5rem;
        margin-bottom: 3.5rem;

        @include media($mq_laptop) {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5.8rem;
        }
        @include media($mq_tablet) {
            max-width: none;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1.5rem;
        }

        label {
            font-size: 0.85em !important;
            text-transform: uppercase !important;
        }
        .enjuinput {
            padding: 1.15em 1em !important;
        }
    }
    .go-button {
        color: $color-primary_light;
        background: #fff;
        border-bottom: 2px solid $color-secondary;
        padding: 1.1em 1.5em 1.1em;

        &:hover {
            background: $color-secondary;
        }
    }
    .close-button {
        position: absolute;
        top: 1.25rem;
        right: 1.5rem;
        font-size: 3.2rem;
        font-weight: normal;
        margin-top: -0.3rem;
        margin-right: -0.4rem;
        color: #fff;
        cursor: pointer;
    }

    &-header {
        font-family: 'Proxima Nova Light', sans-serif;
        text-transform: uppercase;
        color: #fff;
        margin: 2.5rem 0 .8rem 0 !important;
        text-align: center;
        background-color: $color-primary !important;
    }
    &-content {
        border-radius: 0.6rem !important;
        background: url("#{$images}coisafofa.png") no-repeat $color-primary !important;
        background-position: 17% 68% !important;

        @include media($mq_laptop) {
            background-position: 50% 107% !important;
            background-size: 90px auto !important;
        }
        @include media($mq_tablet) {
            background: $color-primary !important;
        }
        @include media($mq_mobile_l) {
            border-radius: 0.28571429rem !important;
        }

        .subheader {
            @include proxima_regular();
            font-size: 1.3em;
            text-align: center;
            color: #fff;
            margin: auto auto 2.8rem;
            max-width: 460px;
            letter-spacing: -0.42px;

            @include media($mq_laptop) {
                margin-bottom: 1.4rem;
            }
            @include media($mq_tablet) {
                max-width: none;
                font-size: 1em;
                margin-bottom: 1.4rem;
            }
            @include media($mq_mobile_l) {
                margin-bottom: 1rem;
            }
        }
    }
}
